body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1 {
    padding-top: 80px;
}

header {
    padding: 20px 50px;
    position: sticky;
    top: 0px;
    background-color: black;
}

.headlogo {
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.navlist li {
    float: left;
    margin: 0px 10px;
    color: white;
    list-style: none;
    cursor: pointer;
    vertical-align: middle;
}

.navlist li a {
    color: white;
    text-decoration: none;
}

.navlist li a:hover {
    color: green;
}

.navlist2 {
    display: none;
}

.navlist2 li {
    float: left;
    margin: 0px 10px;
    color: white;
    list-style: none;
    cursor: pointer;
}

.navlist2 ul {
    padding: 0px;
}

.navlist2 li a {
    color: white;
    text-decoration: none;
}

.navlist2 li a:hover {
    color: green;
}

.account {
    color: white;
    cursor: pointer;
    margin: 0px 10px;
}

.account:hover {
    color: green;
}

.navimg {
    height: 16px;
    width: 16px;
    margin: 0px 10px;
}

.navimg:hover {
    color: green;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 501px) and (max-width: 900px) {
    .navlist ul {
        display: none;
    }

    .navlist2 {
        display: block;
        padding-bottom: 5px;
    }

    h1 {
        padding-top: 95px;
    }
}

@media screen and (max-width: 500px) {
    header {
        position: relative;
    }

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center
    }

    .headlogo {
        cursor: pointer;
        margin: auto;
    }

    .search {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .navlist li {
        float: none;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .nav ul {
        padding: 0%;
    }

    .main-container h1 {
        text-align: center;
    }
}


.main-container {
    padding: 0px 50px;
}

footer {
    padding: 50px;
}



.box {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    /* grid-template-columns: repeat(6, minmax(100px, auto)); */
    grid-template-columns: repeat(6, repeat(1, 1fr));
}

.box a {
    display: block;
    width: 100%;
    /* Set a fixed width for all images */
    height: auto;
    /* This ensures the aspect ratio is maintained */
}

/* Add any additional styling you need for the images here */
.box a img {
    max-width: 100%;
    /* Make sure the images don't exceed the width of their container */
}

.box a:hover {
    transition: transform 0.3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

@media screen and (min-width: 501px) and (max-width: 700px) {
    .box {
        grid-template-columns: repeat(3, 1fr);
        /* 3 images between 500px and 700px */
    }
}

@media screen and (min-width: 701px) and (max-width: 1024px) {
    .box {
        grid-template-columns: repeat(4, 1fr);
        /* 4 images on tablets */
    }
}

@media screen and (min-width: 1025px) {
    .box {
        grid-template-columns: repeat(6, 1fr);
        /* 6 images on large screens */
    }
}

/* .footimg {
    height: 28px;
    width: 28px;
    margin: 0px 10px;
}

.footsocialicon {
    display: flex;
    align-items: center;
}

.footcol ul {
    padding: 0px;
}

.footcol ul li {
    list-style: none;
    margin: 15px 10px;
}

.footcol ul li a {
    text-decoration: none;
    color: #686868;
}

.footcol {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.footbottomtext p {
    text-align: center;
    color: #686868;
    margin-top: 10px;
} */

.footimg {
    height: 28px;
    width: 28px;
    margin: 0px 10px;
}

.footsocialicon {
    display: flex;
    align-items: center;
}

.footcol ul {
    padding: 0;
    list-style: none;
}

.footcol ul li {
    margin: 15px 10px;
}

.footcol ul li a {
    text-decoration: none;
    color: #686868;
}

.footcol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footbottomtext {
    margin-top: 50px;
}

.footbottomtext p {
    text-align: center;
    color: #686868;
    margin-top: 10px;
}

/* Media query for tablet (768px and up) */
@media screen and (min-width: 500px) {
    .footcol ul {
        flex: 0 0 calc(50% - 20px);
        /* 2 columns on tablet */
    }
}

/* Media query for large screens (1024px and up) */
@media screen and (min-width: 1024px) {
    .footcol ul {
        flex: 0 0 calc(25% - 20px);
        /* 4 columns on large screens */
    }
}